.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  z-index: 1000;
  border: none !important;
  box-shadow: none !important;
  background: rgba(15, 23, 42, 0.5);
  backdrop-filter: blur(10px);
}

/* CONTAINER */
.header__container {
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;
}

/* LOGO CONTAINER */
.header__logo {
  height: 100%;
  display: flex;
  align-items: center;
}

/* IMAGE */
.header__logo img {
  height: 48px;
  width: auto;

  object-fit: contain;

  display: block;

  border-radius: 0;
  mix-blend-mode: normal;
  box-shadow: none;
}
/* NAV */
.header__nav {
  display: flex;
  gap: 25px;
  align-items: center;
}

/* LIENS */
.header__nav a {
  text-decoration: none;
  color: #e2e8f0;
  font-size: 14px;
  transition: 0.3s;
  border: none;
}

/* HOVER */
.header__nav a:hover {
  color: #8b5cf6;
}