.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  z-index: 1000;
  border: none !important;
  box-shadow: none !important;
  background: rgba(15, 23, 42, 0.5);
  backdrop-filter: blur(10px);
}

/* CONTAINER */
.header__container {
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;
}

/* LOGO CONTAINER */
.header__logo {
  height: 100%;
  display: flex;
  align-items: center;
}

/* IMAGE */
.header__logo img {
  height: 48px;
  width: auto;

  object-fit: contain;

  display: block;

  border-radius: 0;
  mix-blend-mode: normal;
  box-shadow: none;
}
/* NAV */
.header__nav {
  display: flex;
  gap: 25px;
  align-items: center;
}

/* LIENS */
.header__nav a {
  text-decoration: none;
  color: #e2e8f0;
  font-size: 14px;
  transition: 0.3s;
  border: none;
}

/* HOVER */
.header__nav a:hover {
  color: #8b5cf6;
}

/* BURGER */
.burger {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: var(--color-text);
  display: none;
}

/* MOBILE */
@media (max-width: 768px) {

  .header__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* LOGO CENTRÉ */
  .header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001;
  }

  /* BURGER */
  .burger {
    display: block;
    font-size: 22px;
    color: white;
    cursor: pointer;

    position: relative;
    z-index: 1002;
  }

  /* NAV */
  .header__nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    background: rgba(15, 23, 42, 0.95);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    padding: 20px 0;

    transform: translateY(-20px);
    opacity: 0;
    pointer-events: none;

    transition: all 0.3s ease;
  }

  .header__nav.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }
}